<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user['name'] }}</td>
					<td>{{ user['email'] }}</td>
					<td>{{ user['tel'] }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
