<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		{% if user %}
		<form action='oppgave11.php' method='post'>
			<label for='inputName'>Name:</label>
			<input type='text' id='inputName' name='name' placeholder='John Snow' value="{{ user['name'] }}" required>

			<label for='inputEmail'>Email:</label>
			<input type='email' id='inputEmail' name='email' placeholder='john@example.com' value="{{ user['email'] }}" required>

			<label for='inputTel'>Phone no:</label>
			<input type='number' id='inputTel' name='tel' placeholder='(000) 000 0000' value="{{ user['tel'] }}" required>

			<input type='hidden' name='id' value="{{ user['id'] }}" required>

			<input type='submit' value='Update' name='edit'>
		</form>
		{% else %}
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user['name'] }}</td>
					<td>{{ user['email'] }}</td>
					<td>{{ user['tel'] }}</td>
					<td><a href="?edit={{ user['id'] }}">edit</a></td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</body>
</html>
