<style>

@media (min-width: 400px){ .pins { column-count: 2; width: 400px; } }
@media (min-width: 700px){ .pins { column-count: 3; width: 700px; } }
@media (min-width: 1000px){ .pins { column-count: 4; width: 1000px; } }
@media (min-width: 1200px){ .pins { column-count: 5; width: 1200px; } }
@media (min-width: 1500px){ .pins { column-count: 6; width: 1500px; } }

.pins {
	margin: 0 auto;
	padding: 0;
}

img {
	border: 1px solid red;
	height: auto;
	width: 200px;
}

</style>

<div class='pins'>
{% for pin in pins %}
	<img src='{{ pin }}'>
{% endfor %}
</div>

<script type="text/javascript" src="http://livejs.com/live.js"></script>
