<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form action='oppgave10.php' method='get'>
			<label for='searchInput'>Search:</label>
			<input type='text' id='searchInput' name='search' placeholder='Query' required autofocus>

			<input type='submit' value='Submit' name='q'>
		</form>
		{% if users %}
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user['name'] }}</td>
					<td>{{ user['email'] }}</td>
					<td>{{ user['tel'] }}</td>
				</tr>
			{% endfor %}
		</table>
		{% endif %}
	</body>
</html>
