<!DOCTYPE html>
<html>
	<head>
		<style>
			input { display: block; }
		</style>
	</head>
	<body>
		<h1>Lab uke 4</h1>

		{% if loggedin %}
		<h3>Du er pålogget som {{ user.givenName }} {{ user.familyName }}!</h3>
		<form id='logout' method='POST' action='index.php'>
			<input type='hidden' name='logout' value='1'>
			<input type='submit' value='logg ut'>
		</form>
		{% else %}
		<h3>Vennligst logg inn</h3>
		<form id='login' method='POST' action='index.php'>
			<label for='loginEmail'>Epost:</label>
			<input type='email' name='email' id='loginEmail' required>
			<label for='loginPassword'>Passord:</label>
			<input type='password' name='password' id='loginPassword' required>
			<input type='hidden' name='login' value='1'>
			<input type='submit' value='logg inn'>
		</form>

		<br><br><br>

		<h2>Registrer ny bruker</h2>
		<form id='register' method='POST' action='index.php'>
			<label for='registerEmail'>Email:</label>
			<input type='email' name='email' id='registerEmail' required>
			<label for='registerPassword'>Password:</label>
			<input type='password' name='password' id='registerPassword' required>
			<label for='registerAlias'>Alias:</label>
			<input type='text' name='alias' id='registerAlias' required>
			<label for='registerGivenName'>Given Name:</label>
			<input type='text' name='givenName' id='registerGivenName' required>
			<label for='registerFamilyName'>Family Name:</label>
			<input type='text' name='familyName' id='registerFamilyName' required>
			<input type='hidden' name='register' value='1'>
			<input type='submit' value='registrer'>
		</form>
		{% endif %}
	</body>
</html>
