{% if articles %}
	{% for article in articles %}
		<h3>{{ article.title }}</h3>
		<img src='{{ article.image }}'>
		<p>{{ article.content }}</p>
		<hr>
	{% endfor %}
{% elseif feeds %}
	<ul>
		{% for feed in feeds %}
			<li><a href='?readURL={{ feed.href }}'>{{ feed.title }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<form id='load' method='GET' action='oppgave1.php'>
		<input name='feedURL' required>
		<input type='submit' value='Load'>
	</form>
{% endif %}
