<form method='POST' action='oppgave2.php' enctype='multipart/form-data'>
	<input type='file' name='bilde' required>
	<input type='submit' value='upload'>
</form>

<div class='images'>
	{% for image in images %}
		<a href='?download={{ image.id }}'><img src='?thumb={{ image.id }}'></a>
	{% endfor %}
</div>
