/* css reset */
body {
	margin: 0;
}

/* colors matching the assignment example */
header  { background: #95d55c; }
article { background: #efe45d; }
nav     { background: #6ea2e0; }
aside   { background: #eeb35a; }
footer  { background: #d54a50; }

/* display the container as a grid */
.container {
	display: grid;
}

/* assign grid area names to the elements */
header  { grid-area: header; }
article { grid-area: article; }
nav     { grid-area: nav; }
aside   { grid-area: aside; }
footer  { grid-area: footer; }

@media (min-width: 800px){
 	.container {
		grid-template-columns: 120px 540px 120px;
		grid-template-rows: 80px auto 50px;
		grid-template-areas:
			"header header header"
			"nav article aside"
			"footer footer footer";
	}
}

@media (max-width: 799px){
 	.container {
		grid-template-columns: 120px auto;
		grid-template-rows: 80px auto auto 50px;
		grid-template-areas:
			"header header"
			"nav article"
			"aside article"
			"footer footer"
	}
}

@media (max-width: 480px){
	.container {
		grid-template-columns: auto;
		grid-template-rows: 80px auto auto auto 50px;
		grid-template-areas:
			"header"
			"article"
			"aside"
			"nav"
			"footer";
	}
}
