<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="2_form.css">

<form>
	<header>You've come a long way, baby!</header>

	<h6 class='personal'><span>1</span> Personal Information</h6>
	<div class="personal">
		<div class="form-row">
			<div class='form-group col-md-6'>
				<label for='inputFirstName'>First name</label>
				<input type='text' class='form-control' id='inputFirstName' placeholder='Elon' required pattern="[A-Za-z-]{2,20}">
			</div>
			<div class='form-group col-md-6'>
				<label for='inputLastName'>Last name</label>
				<input type='text' class='form-control' id='inputLastName' placeholder='Musk' required pattern="[A-Za-z-]{2,20}">
			</div>
		</div>
		<div class='form-group'>
			<label for='inputEmail'>Email</label>
			<input type='email' class='form-control' id='inputEmail' placeholder='elon@spacex.com' required>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-6">
				<label for="inputCountry">Country</label>
				<select id="inputCountry" class="form-control">
					<option selected>United States</option>
					<option>...</option>
				</select>
			</div>
		    <div class="form-group col-md-6">
				<label for="inputPostalCode">Postal Code</label>
				<input type='number' class='form-control' id='inputPostalCode' placeholder='10001' required min='5' max='5'>
			</div>
		</div>
		<div class='form-group'>
			<label for='inputPhoneNo'>Phone Number</label>
			<input type='tel' class='form-control' id='inputPhoneNo' placeholder='(212) 692-93-92' required pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}">
		</div>
	</div>

	<h6 class='payments'><span>2</span> Payments Details</h6>
	<div class="payments">
		<div class='form-group'>
			<label for='inputCreditCardNo'>Credit Card Number</label>
			<input type='number' class='form-control' id='inputCreditCardNo' placeholder='0000 - 0000 - 0000 - 0000' required min='16' max='16'>
		</div>
		<div class="form-row">
			<div class='form-group col-md-6'>
				<label for='inputSecurityCode'>Security code</label>
				<input type='password' class='form-control' id='inputSecurityCode' placeholder='***' required pattern="[0-9]{3}">
			</div>
			<div class='form-group col-md-6'>
				<label for='inputExpirationDate'>Expiration date</label>
				<input type='text' class='form-control' id='inputExpirationDate' placeholder='MM / YY' required pattern="[0-9]{1,2}[ ]?/[ ]?[0-9]{1,2}">
			</div>
		</div>
		<button type="submit" class="btn btn-success btn-lg fa fa-shopping-cart fa-lg">Complete Purchase</button>
	</div>

	<div class="order">
		<h6>Your order</h6>
		<p>Apple Watch Sport<span class='right'>$ 580</span></p>
		<p>Modern Buckle<span class='right'>$ 380</span></p>
		<hr>
		<p>Total purchases<span class='right'>$ 960</span></p>
		<p>Estimated tax<span class='right'>$ 0</span></p>
		<hr>
		<p><b>Total</b><b class='right'>$ 960</b></p>
	</div>
</form>


<script type="text/javascript" src="http://livejs.com/live.js"></script>
