/* get rid of spinners on number input fields */
input[type=number] { -moz-appearance: textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: none;
}

body {
	background: #eee;
}

form {
	margin: 0 12em;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto 20px auto 20px auto;
	grid-template-areas:
		"header header"
		"personalT personalT"
		"personal order"
		"paymentsT order"
		"payments order";
}

h6, .btn, header {
	font-weight: bold;
	text-transform: uppercase;
}

header       { grid-area: header; }
div.personal { grid-area: personal; }
div.payments { grid-area: payments; }
div.order    { grid-area: order; }
h6.personal  { grid-area: personalT; }
h6.payments  { grid-area: paymentsT; }

/* align the grid to the titles */
form > div {
	margin-top: 1em;
	margin-left: 3em;
	margin-bottom: 2em;
}

form > div.order {
	align-self: start;
}

header {
	/*display: block;*/
	font-size: 1.3rem;
	padding: 3em 0;
}

/* add a circle behind the title numbers */
h6 span {
	display: inline-block;
	color: #fff;
	background: #000;
	width: 27px;
	height: 27px;
	padding: 4px;
	margin-right: .5em;
	text-align: center;
	border-radius: 50%;
	font-size: 15px;
}

.btn {
	width: 100%;
	font-size: 1rem;
	margin-top: 2em;
}

.btn:before {
	margin-right: 5px;
}

.order {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin-top: 3em;
	padding: 1em;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.order .right {
	float: right;
}

.order p {
	margin-bottom: .5rem;
}

.order p:last-child .right {
	font-size: 1.2rem;
}

.order hr {
	margin: .5em 0;
}
